# Virtual Environment (Poetry)
.venv/
venv/
env/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local