# Виртуальное окружение
.venv/
venv/
env/

# Переменные окружения
.env
.env.local
.env.*.local

# База данных
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Django
*.log
*.pot
media/
staticfiles/
static/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Poetry
poetry.toml